/* RelatedArtist.css */

nav {
    display: flex;
    justify-content: space-around;
    background: #1db954;
    padding: 10px 0;
    color: #fff;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #191414;
  }
  
  .active-link {
    color: #191414 !important;
  }
  
  .get-related-artists-button {
    background-color: #1db954;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .get-related-artists-button:hover {
    background-color: #25d366;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 18px;
    margin: 5px 0;
  }
  