/* Reset box model and set base font styles */
* {
  box-sizing: border-box;
}

a {
  flex: none;
  padding-left: 30px;
  text-decoration: none;
  
}

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background:#2196f3;
  color:#fff;
  height:50px;
  margin:auto;
  width:100%;
  position:relative;
  z-index:100;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #0056b3;
}

.active-link{
  color: #0056b3 !important;
  font-weight: bold;
}



body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 0;
}

/* Header styles */
h1 {
  margin: 10;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Section headers */
h2 {
  font-size: 22px;
  margin-top: 20px;
  color: #333;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  color: #333;
}

/* Buttons */
button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Input field */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Lists */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

/* Container styles */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Artist information styles */
.artist-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.artist-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.artist-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Result list styles */
.results {
  margin-top: 20px;
}

.results h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.results ul {
  padding-left: 20px;
}

.results li {
  font-size: 16px;
  margin: 5px 0;
  color: #333;
}

/* Error message styles */
.error {
  color: #ff0000;
  font-size: 16px;
  margin-top: 10px;
}

/* Loading spinner styles */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007BFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
